@font-face { 
  font-family: plusminus;
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url(data:application/octet-stream;base64,d09GMgABAAAAAAIwAA0AAAAABfgAAAHdAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4GYACCXhEICoEEdwsQAAE2AiQDGgQgBYMbB08b9ATIngXlmGuJ8SoMIRZRsZl/ekTw/n6fc8598IHUlkA1VShRNdXA8c3GF5hkhanQ64qWQG+qm8oPha05+yUS9oRC13hgWQsEyteqVv9/VZNP3eT/L9AsHJO6TDJaYF1i4dgYYNp5gIGOTZsyCtADo6yd/1efyWczfAZJsv8mymY0CgHfr5/vw5//JurZwgAzkEJohAqJUi7EAzX5Mj/iPlXHXxujS9XERO12mo8yN52zvUABAdKVhLLtUgIHpASWStsMPR0phZXzMTUY5ufM9IJaEXoAQiEaogCRSABAUMETIaaNQQtGqLEYVgNUgECIVpioB3Hj4ZpRnC5nrwxiWPo5BIAp+4zEVxfZE94PBHDnzXA1rm3+1+lXvNcOytr8hI4EgV9slUY8fiM0FSD2AiQqwWeB1kCABADAyGsBQmtCILXWECha2wlUWgcI1PpOEGi0ngjQs9hfEVVXGGEg8YWg4OtAhe+kajMmVGPkSsOeTX5mzZ0dnZ2dMLs8+5xPsMvS2tPB1A1PyPLQm7Em32fp5m7rNwLL43ApGKwfM3eU7gdjbek0hTv1sLRwznwZHeADy+JCG9tqrc78/PnCEpDSupZIGUWJKurmyOF72YTc0dPWe5/JRt17IwA=);
}

.tv-treeview {
  -webkit-touch-callout: none;
  user-select: none;

  // make sure our width covers the largest visible tree item child
  // this does not work on Edge
  min-width: max-content;
}

.tv-treeview-item {
  position: relative;
  padding-left: 24px;

  // top line
  &::before {
    content: '\00a0';
    position: absolute;
    background-color: var(--color-line);
    // background-color: mix($bcg-dark, $bcg-primary, 50%);
    width: 2px;
    left: 14px;
    top: -12px;
    bottom: 12px;
  }

  // top line, last item
  &:last-child::before {
    height: 25px;
    bottom: auto;
  }
}

.tv-treeview-item.tv-disabled {
  > .tv-treeview-item-contents {
    > .tv-treeview-item-text {
    opacity: var(--disabled-opacity);
    }
  }
}

.tv-treeview-item-contents {
  position: relative;
  color: var(--text-secondary);
  margin-left: 3px;
  border: 1px solid transparent;
  align-items: center;
  height: 24px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    color: var(--text-primary);
    background-color: var(--bg-dark);

    > .tv-treeview-item-icon {
      color: var(--text-primary);
    }
  }
}

.tv-treeview-item-icon {
  color: var(--text-darkest);
  margin: 0 2px 0 0;
  flex-shrink: 0;

  &::before {
    content: '\00a0';
    position: absolute;
    background-color: var(--color-icon);
    // background-color: mix($bcg-dark, $bcg-primary, 50%);
    left: -12px;
    top: 10px;
    width: 24px;
    height: 2px;
  }

  &::after {
    content: attr(data-icon);

    // @extend .font-icon;

    display: inline-block;
    vertical-align: sub;
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1;
    text-align: center;
  }
}

.tv-treeview-item-text {
  margin: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: opacity 100ms;
  padding-right: 8px;
  color: inherit;
}

.tv-treeview-item-contents.tv-treeview-item-selected {
  background-color: var(--bg-darkest);
  color: var(--text-primary);

  > .tv-treeview-item-icon {
    color: var(--text-primary);
  }
}

.tv-treeview-item:not(.tv-treeview-item-empty) {
  > .tv-treeview-item-contents::before {
    content: '\e901';
    font-family: 'plusminus';

    // @extend .font-icon;

    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-dark);
    top: 0;
    left: -24px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 3px;
    cursor: pointer;
    z-index: 1;
  }

  &.tv-treeview-item-open {
    > .tv-treeview-item-contents::before {
      content: '\e900';
    }
  }
}

.tv-treeview {
  // direct children of tree
  > .tv-treeview-item {
      padding-left: 0;

      &::before {
          content: none;
      }

      > .tv-treeview-item-contents {
          margin-left: 0;

          > .tv-treeview-item-icon {
              &::before {
                  content: none;
              }

              &::after {
                  margin-left: 0;
              }
          }
      }

      > .tv-treeview-item {
          padding-left: 22px;

          // top line
          &::before {
              left: 11px;
          }
      }
  }
}

.tv-treeview:not(.tv-treeview-filtering) {
  // direct children of tree
  > .tv-treeview-item {
      .tv-treeview-item {
          &:not(.tv-treeview-item-open, .tv-treeview-item-empty) {
              > .tv-treeview-item {
                  display: none;
              }
          }
      }
  }
}

.tv-treeview-item-dragged > .tv-treeview-item-contents {
  background-color: rgba(var(--bg-dark), 0.5);
  color: var(--text-primary);
}

.tv-treeview-drag-handle {
  position: fixed;
  width: 32px;
  height: 20px;
  top: 0;
  bottom: 0;
  z-index: 4;
  margin-top: -1px;
  margin-left: -1px;

  &.before {
    border-top: 4px solid var(--text-active);
    padding-right: 8px;
    height: 24px;
  }

  &.inside {
    border: 4px solid var(--text-active);
  }

  &.after {
    border-bottom: 4px solid var(--text-active);
    padding-right: 8px;
    height: 24px;
  }
}

.tv-treeview-item-contents::after {
  content: ' ';
  display: block;
  clear: both;
}

.tv-treeview-item.tv-treeview-item-rename {
  > .tv-treeview-item-contents {
    > .tv-treeview-item-text {
      display: none;
    }

    > .tv-text-input {
      margin: 0;
      flex-grow: 1;
      box-shadow: none !important;
      border: 0;
      background-color: transparent;

      > input {
        font-family: inherit;
        font-size: 14px;
        padding: 0;
      }
    }
  }
}

.tv-treeview.tv-treeview-filtering {
  .tv-treeview-item {
    padding-left: 0;

    &::before {
      display: none;
    }

    &:not(.tv-treeview-filtering-result) {
      > .tv-treeview-item-contents {
        display: none;
      }
    }
  }

  .tv-treeview-item-contents {
    margin-left: 0;
  }
}

.tv-treeview-filtering-result {
  .tv-treeview-item-contents::before,
  .tv-treeview-item-icon::before {
    display: none;
  }
}