@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0;
}
.label.selectable:hover {
  user-select: none;
}
.label {
  vertical-align: middle;
  transition: opacity 100ms;
  color: #aaa;
}
.label.default-mousedown {
  user-select: initial;
}
.label.selectable:hover {
  color: #f60;
  text-decoration: underline;
}

/* // placeholder */
.label[placeholder] {
  position: relative;
}
.label[placeholder]:after {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  color: #999;
  pointer-events: none;
}
.text-input {
  background-color: #282828;
  vertical-align: top;
  transition: color 100ms, background-color 100ms, box-shadow 100ms;
  color: #aaa;
}
.text-input:before {
  color: inherit;
}

/* // focus / hover states */
.text-input:hover,
.text-input:focus {
  background-color: #202020;
  color: #fff;
}
.text-input:hover {
  box-shadow: 0 0 2px 1px rgba(255, 102, 0, 0.3);
}
.text-input:focus:after,
.text-input:hover:after,
.text-input:focus:before,
.text-input:hover:before {
  display: none;
}
.text-input[placeholder] {
  position: relative;
}
.text-input[placeholder]:after {
  content: attr(placeholder);
  background-color: #282828;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  line-height: 22px;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  color: #829193;
  pointer-events: none;
}
.tv {
  background: var(--color-bg, #28292E)
}
.tv-item {
  position: relative;
  padding-left: 24px;
  height: max-content;
  min-width: max-content;
}
.tv-item:before {
  content: '\00a0';
  position: absolute;
  background-color: #2e2e2e;
  width: 2px;
  left: 14px;
  top: -12px;
  bottom: 12px;
}
.tv-item:last-child:before {
  height: 25px;
  bottom: auto;
}
.tv-item.disabled > .tv-item-contents > .tv-item-text {
  opacity: 0.4;
}
.tv-item-contents {
  color: #aaa;
  margin-left: 3px;
  border: 1px solid transparent;
}
.tv-item-contents:hover {
  cursor: pointer;
  color: #fff;
  background-color: #282828;
}
.tv-item-icon {
  color: rgba(170, 170, 170, 0.5);
  margin: 0 2px 0 0;
  flex-shrink: 0;
}
.tv-item-icon:before {
  content: '\00a0';
  position: absolute;
  background-color: #2e2e2e;
  left: -12px;
  top: 10px;
  width: 24px;
  height: 2px;
}
.tv-item-icon:after {
  content: attr(data-icon);
  display: inline-block;
  vertical-align: sub;
  width: 22px;
  height: 22px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.tv-item-text {
  padding-right: 8px;
  color: inherit;
}
.tv-item-contents.tv-item-selected {
  background-color: #202020;
  color: #fff;
}
.tv-item-contents.tv-item-selected > .tv-item-icon {
  color: #fff;
}
.tv-item:not(.tv-item-empty) > .tv-item-contents:before {
  content: '+';
  position: absolute;
  display: grid;
  place-content: center;
  font-weight: bold;
  color: #aaa;
  background-color: #4f4f5c;
  left: -23px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin: 3px;
  cursor: pointer;
  z-index: 1;
}
.tv-item:not(.tv-item-empty).tv-item-open > .tv-item-contents:before {
  content: '−';
}
.tv > .tv-item {
  padding-left: 0;
}
.tv > .tv-item:before {
  content: none;
}
.tv > .tv-item > .tv-item-contents {
  margin-left: 0;
}
.tv > .tv-item > .tv-item-contents > .tv-item-icon:before {
  content: none;
}
.tv > .tv-item > .tv-item-contents > .tv-item-icon:after {
  margin-left: 0;
}
.tv > .tv-item > .tv-item {
  padding-left: 21px;
}
.tv > .tv-item > .tv-item:before {
  left: 11px;
}
.tv:not(.tv-filtering) > .tv-item .tv-item:not(.tv-item-open):not(.tv-item-empty) > .tv-item {
  display: none;
}
.tv-item-dragged > .tv-item-contents {
  background-color: rgba(40, 40, 40, .5);
  color: #fff;
}
.tv-drag-handle {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  margin-top: -1px;
  margin-left: -1px;
}
.tv-drag-handle.before {
  margin-top: -2px;
  border-top: 4px solid var(--color-drag-handle, rgba(255,255,255,0.5));
  padding-right: 8px;
}
.tv-drag-handle.inside {
  border: 4px solid var(--color-drag-handle, rgba(255,255,255,0.5));
}
.tv-drag-handle.after {
  margin-top: 2px;
  border-bottom: 4px solid var(--color-drag-handle, rgba(255,255,255,0.5));
  padding-right: 8px;
}
.tv-item-contents:after {
  content: ' ';
  display: block;
  clear: both;
}
.tv-item.tv-item-rename > .tv-item-contents > .tv-item-text {
  display: none;
}
.tv-item.tv-item-rename > .tv-item-contents > .text-input {
  margin: 0;
  flex-grow: 1;
  box-shadow: none !important;
  border: 0;
  background-color: transparent;
}
.tv-item.tv-item-rename > .tv-item-contents > .text-input > input {
  font-family: inherit;
  font-size: 14px;
  padding: 0;
}
.tv.tv-filtering .tv-item {
  padding-left: 0;
}
.tv.tv-filtering .tv-item::before {
  display: none;
}
.tv.tv-filtering .tv-item:not(.tv-filtering-result) > .tv-item-contents {
  display: none;
}
.tv.tv-filtering .tv-item-contents {
  margin-left: 0;
}
.tv-filtering-result .tv-item-contents:before,
.tv-filtering-result .tv-item-icon:before {
  display: none;
}
