:root {
  --font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  --bg-darkest: #202020;
  --bg-darker: #202020;
  --bg-dark: #282828;
  --bg-primary: #333333;
  --color-line: #333333;
  --color-icon: #666666;
  --text-darkest: rgb(170 170 170 / 50%);
  --text-dark: rgb(170 170 170 / 50%);
  --text-secondary: #aaaaaa;
  --text-primary: #ffffff;
  --text-active: #4CAF50;
  --error: #fb222f;
  --error-secondary: #d34141;
  --border-primary: #aaaaaa;
  --element-shadow-hover: 0 0 2px 1px rgba(255, 102, 0, 0.3);
  --element-shadow-active: 0 0 0 1px rgba(255, 102, 0, 0.3);
  --element-shadow-error: 0 0 0 1px var(--error-secondary);
  --element-color-placeholder: #829193;

  --field-padding: 3px;
  --disabled-opacity: 0.4;
  --element-margin: 6px;
  --element-opacity-disabled: 0.4;
  --element-opacity-readonly: 0.7;
}

.pcui-no-select {
  -webkit-touch-callout: none;
  user-select: none;
}

// flex container
.pcui-flex {
  &:not(.pcui-hidden) {
      display: flex;
  }

  flex-direction: column;
}

// grid container
.pcui-grid {
  display: grid;
}

// scrollable element
.pcui-scrollable {
  // show scrollbars automatically
  overflow: auto;
}

.pcui-hidden {
  display: none;
}

.font-thin {
  font-weight: 100;
  font-style: normal;
}

.font-light {
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-weight: bold;
    font-style: normal;
}

.fixed-font {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 12px;
}