.tv-label {
  display: inline-block;
  box-sizing: border-box;
  margin: var(--element-margin);
  vertical-align: middle;
  transition: opacity 100ms;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.tv-label.tv-default-mousedown {
  user-select: initial;
}

.tv-label.tv-multiple-values {
  position: relative;
  color: transparent;

  &::before {
    content: '...';
    color: var(--text-secondary);
    white-space: nowrap;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 12px;
  }
}

.tv-label.tv-error {
  color: var(--error-secondary);
}

.tv-label.tv-selectable {
  &:hover {
    color: var(--text-active);
    text-decoration: underline;
    -webkit-touch-callout: none;
    user-select: none;
  }
}

// placeholder
.tv-label[placeholder] {
  position: relative;

  &::after {
    content: attr(placeholder);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    color: #999;
    pointer-events: none;
  }
}
